<div class="menu-section">
  <%=form_for(@menu, :html=>{class:"dropzone", id: "menu-dropzone", multipart: true}) do %>
  <% end %>
  <%= link_to 'Done', menus_path(current_user), class: "btn btn-danger btn-xs menu-done" %>
  <hr>
  
  <% @user.menus.each do |m| %>
    <div class="menu-box">
      <%= link_to image_tag(m.menu.url(:thumb)), m.menu.url, :data => { :colorbox_static => true } %>
      <div class="menu-delete">
        <%= link_to "<span class='glyphicon glyphicon-trash' aria-hidden='true' </span>".html_safe,m, method: :delete %>
      </div>
    </div>
  <% end %>
</div>

<script>
  $('.menu-box').mouseover(function(){
    $(this).find('.menu-delete').fadeIn(200);
  });
  
  $('.menu-box').mouseleave(function(){
    $(this).find('.menu-delete').fadeOut(200);
  });
</script>