<div class="menu-section">
  <%=form_for(@menu, :html=>{class:"dropzone", id: "menu-dropzone", multipart: true}) do %>
  <% end %>
  <%= link_to 'Done', menus_path(current_user), class: "btn btn-danger btn-xs menu-done" %>
  <hr>
  
  <% @user.menus.each do |m| %>
    <div class="menu-box">
      <%=image_tag m.menu.url(:thumb) %>
      <div class="menu-delete">
        <%= link_to "<span class='glyphicon glyphicon-trash' aria-hidden='true' </span>".html_safe,m, method: :delete %>
      </div>
    </div>
  <% end %>
</div>