<% content_for(:title){'Sign Up'} %>
<div class="signup">
  <h2>Release your confidence</h2>
  <h3><strike>Have a good day.</strike> Make it a great day </h3>
  <br>
  <%#= render 'shared/errors', obj: @user %>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-3 form-space">
        <%= form_for(@user,  :html=>{class:"form-horizontal", role: "form"}) do |f| %>
          <%= render 'users/form', :f => f %>
          <br>
          <div class="form-group ">
            <div class="col-sm-2 col-sm-offset-3">
              <div class="submit-btn">
                <%= f.submit "Sign Up",  class:"btn btn-danger"%>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div> 
</div>

<!--:validate =>true,-->