<div class="signup"> <!--just to reuse the padding top, no other styling--->
  <h2>Welcome to <%=@user.first_name%>'s Profile</h2>
  <% @user.images.each do |image| %>
    <%= image_tag image.picture.url if image.picture%>
  <% end %>
</div>