<% content_for(:title){'About Us'} %>
<%= provide(:description, 'Perfect hair for the the perfect you. Release your confidence') %>  
<%= provide(:keywords, 'hair, hairstyles,stylists, confidence') %> 

<div class="about">
  <div class="content">
    <h1>About Us</h1>
    <h3>Everyday is a confident day</h3>
    <hr class="hr-color">
    
    <h2>Mission</h2>
    <div class="center">
      <p>Discover fabulous hairstyles</p>
      <p>know where to get them</p>
    </div>
    <br>
    <p>Crownshot is a platform that helps people find the perfect hair stylists for their desired hairstyles.
    We aim to provide transparency in the hair service industry by providing a platform that connects the customers and the stylists. </p>
    <hr class="hr-color">
  
  
    <h2>CROWNSHOT stands for hair photo</h2>
    <p>But..</p>
    <p>it means much more than that. </p>
    <p>Crown signifies confidence.</p>
    <p>Show the world the real you. </p>
    <p>We hope that every instance of your life is a crownshot moment.</p>
    <p>Every day will be the day where you walk down the street with your head help up high.</p>
  
    <hr class="hr-color">
    
    <h2>Contact</h2>
    <p>Contact us at:</p> 
    <p>info@crownshot.com</p>
  </div>
  <%=render 'layouts/footer' %>
</div>

