<% content_for(:title){'About Us'} %>
<% content_for(:keywords){'salon, stylists, hairstyles,hair, confidence,crownshot'} %> 
<% content_for(:description){ 'Find the perfect stylist for your dreaming hairstyle. Make every day a good hair day'} %> 

<div class="about">
  <div class="content">
    <h1>About Us</h1>
    <h3>Everyday is a confident day</h3>
    <hr class="hr-color">
    
    <h2>Mission</h2>
    <div class="center">
      <p>Discover Amazing Hair Stylists In Your Area</p>
    </div>
    <br>
    <p>Discover amazing hair stylists in your area and find the hairstyle that makes you shine.
        Crownshot is an online platform that connects customers and stylists. Each hairstyle is performed by an actual hair stylist. 
        The platform shows each stylist's previous works with the salon name, location and appointment number! 
        You can see hairstyles in categories such as women's cut, men's cut, color, bridal & prom! Better yet just go check it out !</p>


    <p>We aim to provide transparency in the hair service industry by providing a platform for stylists to showcase their previous works. </p>
    <hr class="hr-color">
  
  
    <h2>CROWNSHOT stands for hair picture</h2>
    <p>But..</p>
    <p>it means much more than that. </p>
    <p>Crown signifies confidence.</p>
    <p>Release your inner confidence.</p>
    <p>Show the world the real you. </p>
    <p>We hope that every instance of your life is a crownshot moment.</p>
    <p>Every day will be the day where you walk down the street with your head held up high.</p>
  
  
</div>

<%=render 'layouts/footer' %>