<div class="about">
  <div class="content">
    <h1>FAQ</h1>
    <hr class="hr-color">
    
    <h6>What is the number in the circle located right below the picture?</h6>
      <p>The pink circle tells the average rate of a specific service.</p>
       <ul>
        <li>If you selected "Women's cut", then the number indicates the average rate of a woman's haircut.<br>
          <span>(sometimes haircut also means wash, cut and style)</span> </li>
        <li>If you selected "Men's cut", then the number indicates the average rate of a men's haircut. </li>
        <li>If you selected "Color", then the number indicates the average rate of a single process.<br>
          <span>(simply put: single process means applying one color all over to the hair. It's a color service that is done in one step) </span><br>
          <span>(Different pictures involved different types of coloring service, some only involve single process, some involve highlights, glaze or double process.)</span></li>
        <li>If you selected "Prom or Bridal", then the number indicates the average rate of a formal updo.<br>
        <span>(Notice that bridal hair or bridal trial typically costs more than a formal updo. Check out the service menus for accurate pricing.)</span></li>
       </ul>
  
    
    <br>
    <p>Disclaimer: The numbers in the circles are NOT locked nor accurate. 
      It's here to help you quickly understand the estimated price point/rate of a stylist without having to check out his/her service menus.
    </p>
    
    <p>Due to the nature of the hair service industry, the price can vary depending on the stylist and the hair of each individual.
    Therefore, to get the exact price, users need to check out the service menus or consult the stylist.</p>
    <hr class="hr-color">
  </div>
</div>
  

<%=render 'layouts/footer' %>