<div class="about">
  <div class="content">
    <h1>FAQ</h1>
    <hr class="hr-color">
    
    <h6>What Are The Two Circles With The Numbers?</h6>
    <ul>
      <li>The white circle tells the average rate of a women's haircut.<br>
        <span>(sometimes women’s haircut also means wash, cut and style)</span>
      </li><br>
      <li>The pink circle tells the average rate of a single process.<br>
      <span>(simply put: single process means applying one color all over to the hair. It's a color service that is done in one step) </span>
      </li>
    </ul>
    
    <br>
    <p>Disclaimer: The numbers in the circles are NOT locked. 
    It's here to help you better understand the estimated price point/rate of a stylist without having to check out his/her service menus.
    </p>
    
    <p>Due to the nature of the hair service industry, the price can vary depending on the stylist and the hair of each individual.
    Therefore, to get the exact price, users need to checkout the service menus or consult the stylist.</p>
    <hr class="hr-color">
  </div>
</div>
  

<%=render 'layouts/footer' %>