<div class="about">
  <div class="content">
    <h1>FAQ</h1>
    <hr class="hr-color">
    
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
               What is Crownshot?
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
            <p>Crownshot is a platform that helps people discover stylists. Choosing the right stylist when it comes to 
            doing your hair is very important. When people go on the website, they can see different kinds of hairstyles done
            by actual stylists. After clicking into each picture, the stylist profile will be shown. Users can filter the pictures based on a location and different 
            hairstyling services.</p>
            <p>After signing in
            <ul>
              <li>users can save the hairstyles that they like</li>
              <li>search for stylists based on location or their names.</li>
            </ul></p>
          </div>
        </div>
      </div>
      
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
               What's the pricing number located right below the picture?
            </a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
          <div class="panel-body">
            <p>The pink circle tells the average rate of a specific service.</p>
            <ul>
              <li>If you selected "Women's cut", then the number indicates the average rate of a woman's haircut.<br>
                <span>(sometimes haircut also means wash, cut and style)</span> </li>
              <li>If you selected "Men's cut", then the number indicates the average rate of a men's haircut. </li>
              <li>If you selected "Color", then the number indicates the average rate of a single process.<br>
                <span>(simply put: single process means applying one color all over to the hair. It's a color service that is done in one step) </span><br>
                <span>(Different pictures involved different types of coloring service, some only involve single process, some involve highlights, glaze or double process.)</span></li>
              <li>If you selected "Prom or Bridal", then the number indicates the average rate of a formal updo.<br>
                <span>(Notice that bridal hair or bridal trial typically costs more than a formal updo. Check out the service menus for accurate pricing.)</span></li>
             </ul>
      
              <br>
              <p>Disclaimer: The numbers in the circles are NOT locked nor accurate. 
                It's here to help you quickly understand the estimated price point/rate of a stylist without having to check out his/her service menus.
              </p>
              
              <p>Due to the nature of the hair service industry, the price can vary depending on the stylist and the hair of each individual.
              Therefore, to get the exact price, users need to check out the service menus or consult the stylist.</p>
          </div>
        </div>
      </div>
      
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingThree">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Is it free to use Crownshot?
            </a>
          </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
          <div class="panel-body">
            <p>Yes. At this stage, Crownshot is open and free for all users including stylists. There's no hidden nor additional cost.</p>
          </div>
        </div>
      </div>
      
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingFour">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
              As a stylist, how do I get started?
            </a>
          </h4>
        </div>
        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
          <div class="panel-body">
            <p>Simply sign up with your email address. You can then log in to manage and edit your own profile.</p>
            <p>Final step, upload your awesome works!</p>
          </div>
        </div>
      </div>
      
      
    
      
    </div>
  </div>
</div>
  

<%=render 'layouts/footer' %>