<div class="about">
  <div class="content">
    <h2>Price Explanation</h2>
   
    <p>Women’s cut price is the price for a women’s haircut. </p>
    <p>Single process price is the price for a single process. </p>
    <br>
    <p>For a stylist that has a standard price, simply put the price.</p>
    <p>For a stylist that has a starting price, simply put the base price with the plus sign</p>
    <p>For a stylist that has different prices based on the texture and the length of the hair, simply put an average price</p>
    <hr class="hr-color">
    <p>Examples: </p>
    <ul>
      <li>the cost of a women's haircut is $50, put 50</li>
      <li>the cost of a women's haircut has a starting price of $42, put 42+</li>
      <li>the cost of a women's haircut varies based on length, $50 for short hair, $60 for mid-length hair, $70 for long hair,  put 60</li>
      <li>the cost of a single process is $80 - $120, put 100</li>
    </ul>
    
    <hr class="hr-color">
  
    <p>This feature is implemented to help users better understand the estimated price point of a stylist without having to check out his/her service menu. 
    The rate you enter here IS NOT the locked/set price. It’s here to simply help customers quickly understand the estimated rate of the stylist. 
    </p>
    <br>
    <p>We understand that price can vary depending on the stylist and the hair of the customer. Therefore, for an accurate price, customers need to check out the service menus or consult the stylist. </p>
    <p>We use both women's haircut price and single process price because together, customers can better estimate the service costs associated with a stylist.</p>
</div>

<%=render 'layouts/footer' %>