<div class="errorpages">
  <div class="error">
    <h2>Uh oh...</h2>
    <h5>The server was unable to complete your request.</h5>
    <br>
    <ul class="funnyerror">
      <li>Our servers are just too busy for our own good.</li>
      <li>We had a little hiccup.</li>
    </ul>
    <hr>
    <p>Please come back again later. If the problem persists, shoot us an email :) </p>
  </div>
  
</div>
<%=render 'layouts/footer' %>
