<div class="errorpages">
  <div class="error">
    <h2>Oh no...</h2>
    <h5>Looks like you got lost</h5>
    <br>
    <p>Click <%= link_to "Crownshot", root_path %> to go back to home page</p>
    <p>Error: 404</p>
  </div>
  
</div>
<%=render 'layouts/footer' %>
