<div class="errorpages">
  <div class="error">
    <h2>Uh oh...</h2>
    <h5>The changes you wanted was rejected</h5>
    <br>
    <p>Take a nap and try again</p>
  </div>
  
</div>
<%=render 'layouts/footer' %>