/* ------------------------------------------------ */
/* BASE COLOR: #e08283 */
/* DARKBASE COLOR: #d34c4d */
/* ------------------------------------------------ */

@import "bootstrap-sprockets";
@import "bootstrap";

body{
  font-family: 'Open Sans', sans-serif;
}

.container-body{
  width:100%;
  margin:0;
  padding: 52px 0 0 0 ;
}

h1,
h2,
h3,
h5{
    margin:0;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 4px;
    text-align: center;
}

h2{
    font-size: 180%;
    color: #d34c4d;
}

h2:after{
    display: block;
    content: " ";
    background-color: #e08283;
    height: 2px;
    width: 100px;
    margin: 25px auto 30px auto;
    
}

h3{
    margin-top: 20px;
    font-size: 90%;
    color: #d34c4d;
    
}

h5{
  font-size:100%;
  color:#d34c4d;
}

a:link,
a:visited{
    color:#d34c4d;
    text-decoration: none;
    padding: 5px 15px;
    border-bottom: 1px solid transparent ;
}

.form-color{
  color: #e08283;
  font-size: 110%;
}

.love,
.unlove{
  font-size: 250%;
  font-weight: 100;
  text-shadow: 1px 0px 3px #e08283;
  color: #e08283;
}


.paginate-box{
  text-align:center;
  padding-top: 15px;
}

.current{
  padding: 5px 15px;
}

.field_with_errors .message{
  font-size:80%;
  color: #D00;
}
/* -------navigation------- */
.navbar{
 background-color:#fff; 
 border-radius: 0px;
 box-shadow:0 1px 2px #888;
 margin-bottom:0px;
 opacity: 0.95;
}




.navbar .navbar-form .btn{
  background-color: #e08283;
  color: #fff;
}

.nav li a{
  color:#e08283;
}

.nav-font a{
  font-weight: 600;
  font-size: 120%;
}

.nav li a:hover,
.nav li a:hover{
  color:#d34c4d;
}

.icon-color{
  background-color:#e08283;
}

#crownshot{
  text-transform: uppercase;
  letter-spacing: -2px;
  font-size:170%;
  color:#e08283;
  padding-top: 15px ;
  padding-left: 5px;
}

#logo img{
  width: 40px;
  height: 40px;

}
.dropdown-nav{
  background-color:#fff;
}

#log,
#sign{
  padding :5px ;
  margin-top: 10px;
  margin-right: 10px;
}

#become{
  padding :5px ;
  margin-top: 9px;
  margin-right: 10px;
  border: 2px solid #e08283;
}

/*---footer---*/
.footer{
    background-color: #333;
    padding-top: 30px;
    font-size: 100%;
}

.footer-nav,
.social-links{
    list-style: none;
    padding-top: 0px;
    padding-left: 60px;
}

.social-links{
  margin-right: 80px;
}
.footer-nav li{
    float: left;
    display: inline-block;
}

.footer-nav li a,
.social-links li a{
    border:0;
    color: #888;
}

.social-links li{
    float: right;
    display: inline-block;
}

.social-links li a:link,
.social-links li a:visited{
    font-size: 160%;
}

.footer p{
    color: #888;
    display: block;
    text-align: center;
    padding: 15px;
    font-size: 95%;
}

.footer .term_agr a:link,
.footer .term_agr a:visited{
    color:#888;
    text-decoration: none;
    padding: 0;
}

/*--------------------------------------------------------*/

@media screen and (max-width: 776px) {
  
  #logo {
    padding-right: 5px;
  }
  .navbar .navbar-form .form-group input{
    width: 186px;
  }
  .navbar .navbar-form .form-group{
    width: 186px;
    display: inline-block;
  }
  .navbar form{
    padding: 0 15px;
  }
  .navbar .navbar-form{
    margin-bottom: 4px;
  }
  .social-links{
    width: 300px;
  }
  .social-links li{
    float: left;
  }
}

@media screen and (max-width: 550px) {
    #crownshot{
      display:none;
    }
    #logo {
      padding-right: 15px;
    }
    .navbar .navbar-form .form-group .form-control{
      height: 28px;
    }
    .navbar .navbar-form{
      margin-top: 12px;
    }
    .navbar .navbar-form .form-group input,
    .navbar .navbar-form .form-group{
      width: 166px;
    }

    .panel-body {
      padding: 15px 0;
    }
    .navbar-form .btn{
      padding: 3px 6px;
    }
}


@media screen and (max-width: 450px) {

    #crownshot{
      font-size: 150%;
      padding-left: 2px;
    }
    .navbar .navbar-form .form-group input,
    .navbar .navbar-form .form-group{
      width: 136px;
    }
    .navbar .navbar-form{
      margin-top: 10px;
    }
    .footer-nav{
      padding-left: 0px;
    }
    .navbar-header a{
      padding-right: 5px;
      padding-left: 5px;
    }
    .panel-heading {
      padding: 10px 2px;
    }
    .panel-body ul{
      padding: 25px;
    }
}