.editprofile{
  padding-top: 70px;
}

.editprofile .profile_upload{
  text-align: center;

}

.editprofile .form-field{
  margin-top: 25px;
}

.editprofile .profileplaceholder{
  width: 200px;
  height: 200px;
  border: 2px solid #888;
  margin-left: 30px;
}

.editprofile .profileplaceholder img{
  width: 200px;
  height: 195px;

}