.editprofile{
  padding-top: 50px;
}

.editprofile .profile_upload{
  text-align: center;

}

.editprofile .form-field{
  margin-top: 25px;
}

.editprofile .profileplaceholder{
  width: 100px;
  height: 100px;
  border: 2px solid #888;
  margin-left: 30px;
}