/* ------------------------------------------------ */
/* BASE COLOR: #e08283 */
/* DARKBASE COLOR: #d34c4d */
/* ------------------------------------------------ */
.errorpages{
  height: 100vh;
}

.error{
  padding-top:30px;
  border: 1px solid #e08283;
  box-shadow: 1px 2px 2px #e08283;
  width: 50%;
  margin: 100px auto 0 auto;
  background-color: #d34c4d ;
  padding-bottom: 30px;
  

}
.errorpages h2{
  color: #fff;
}

.errorpages p{
  color: #fff;
  text-align: center;
  text-transform: capitalize;
}

.errorpages h5{
  font-size: 110%;
  font-weight: 600;
  color: #fff;
}

.errorpages a{
  padding: 0;
  color: #fff;
  border-bottom: 1px solid #fff;
  
}

.errorpages .funnyerror{
  margin-left: 160px;
  color: #fff;
}

/*-----------------------------------------------*/
@media screen and (max-width: 1200px) {
  .errorpages .funnyerror{
    margin-left: 120px;
  }
}

@media screen and (max-width: 1035px) {
  .error{
    width: 60%;
  }

}
@media screen and (max-width: 830px) {
  .error{
    width: 70%;
  }
  .errorpages .funnyerror{
    margin-left: 100px;
  }
}

@media screen and (max-width: 640px) {
  .errorpages .funnyerror{
    margin-left: 40px;
  }
  .error{
    padding: 20px 10px;
    margin-top: 50px;
  }
}

@media screen and (max-width: 460px) {
  .error{
    width: 80%;
  }
  .errorpages .funnyerror{
    margin-left: 15px;
  }
}

@media screen and (max-width: 370px) {
  .error{
    width: 85%;
  }
  .errorpages .funnyerror{
    margin-left: 0px;
  }
}