/* ------------------------------------------------ */
/* BASE COLOR: #e08283 */
/* DARKBASE COLOR: #d34c4d */
/* ------------------------------------------------ */

.love,
.unlove{
  font-size: 200%;
  font-weight: 100;
}

.unlove{
 display: none; 
}