/* ------------------------------------------------ */
/* BASE COLOR: #e08283 */
/* DARKBASE COLOR: #d34c4d */
/* ------------------------------------------------ */


/* ---------side bar ----------- */
.image_index .sidebar{
  position: absolute;
  position: fixed;
  top: 52px;
  left:0;
  bottom:0;
  width: 170px;
  background-color: rgb(224, 130, 131);
  box-shadow: 1px 0 2px #adacac;
}

.image_index .sidebar i{
  position: absolute;
  color: #fff;
  font-size: 165%;
  top: 3px;
  left: 140px;
  display: none;
}

.image_index .location{
  padding: 8px 0;
  text-align: center;
  margin: 10% 13% 0% 6%; 
}

.image_index .location p{
  font-size: 130%;
  
}
.image_index .input_box{
  width: 110%;
  height: 35px;
  border-radius: 3px;
  margin-bottom: 15px;
}

.image_index .rangebar{
  margin-bottom: 12px;
}
.image_index ul{
  list-style: none; 
  padding:0;
  margin-top: 30px;
}

.image_index .category{
  padding: 8px 0;
  text-align: center;
  width: 75%;
  margin: 8% 12.5%;
  background-color: #eae3e3;
  border-radius: 5px;
  box-shadow: 3px 3px 3px #bc6a6b;
  font-size: 120%;
}

.image_index .side-hidden{
  position: absolute;
  position: fixed;
  top: 52px;
  left:0;
  bottom:0;
  width: 40px;
  background-color: rgb(224, 130, 131);
  box-shadow: 1px 0 2px #adacac;
  display: none;
}

.image_index .side-hidden i{
  color: #fff;
  font-size: 165%;
  display: block;
  margin: 3px 10px 0 13px;
}

/* ---------main  ----------- */

.image_index .main{
  position: absolute;
  top: 52px;
  left: 170px;
  right:0;
  bottom: 0;
  padding-left: 10px;
}

.image_index .image{
  position: relative;
  display: inline-block;
  margin-top: 15px;
}

/* ---------like button----------- */
.image_index .like i{
  color: #e08283;
}

.image_index .like {
  position: absolute;
  bottom: 0;
  left: 10px;
}



/*--------------------------------------------------------------*/

@media screen and (max-width: 1024px) {
  .image_index .sidebar{
    display: none;
    z-index: 9999;
  }
  .image_index .sidebar i{
    display: block;
  }
  
  .image_index .side-hidden{
    display: block;
  }
  .image_index .main{
    left: 40px;
  }


}
