.menu-section{
  width:56%;
  margin: 30px auto 10px auto;

}

.menu-section .menu-box{
  display: inline-block;
  position: relative;
  border: 2px solid #888;
  margin-top: 10px;
}

.menu-section .menu-delete{
  display: none;
  position: absolute;
  top: 2px;
  right: -10px ;
}

.menu-section .menu-done{
  margin-left: 45%;
  margin-top: 10px ;
  color: #fff;
}

/* --------------------------------------------*/

@media screen and (max-width: 1000px) {
  .menu-section{
    width: 65%;
  }

}

@media screen and (max-width: 785px) {
  .menu-section{
    width: 75%;
  }
}

@media screen and (max-width: 550px) {
  .menu-section{
    width: 80%;
  }
}

@media screen and (max-width: 465px) {
  .menu-section .menu-box{
    margin-left: 22%;
  }
  .menu-section .menu-done{
    margin-left: 40%;
  }
}

@media screen and (max-width: 360px) {
  .menu-section .menu-box{
    margin-left: 15%;
  }

}