.page1 h1,
.page1 h2,
.page1 h3{
    margin:0;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 4px;
    text-align: center;
}

.page1 h2{
    font-size: 200%;
    color: #d34c4d;
}

.page1 h3{
    margin-top: 20px;
    font-size: 130%;
    color: #d34c4d;
    
}

/* ------------------------------------------------ */
/* Header section */
/* ------------------------------------------------ */
.page1 .jumbotron{
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.74)), asset-url("headerred-short.jpg");
  background-size:cover;
  height: 850px;

}

.page1 .jumbo{
  top: 45%;
}
.page1 .jumbo h1{
  text-align: center;
  color: #e08283;
  font-size: 250%;
}

.page1 .jumbo h5{
  color: #e08283;
  font-size: 130%;
  text-transform: capitalize
}
.page1 .jumbo .caption{
    margin-top: 20px;
}

.page1 .search-boxes{
    top: 80%;
    margin-left: 30%;

}
.page1 .search-box{
    border: 2px solid #d34c4d;
    margin:0;
    padding: 8px;
    border-radius: 2px;
    height: 50px;
    color: #555;
    font-size:130%;
    

}

.page1 .location-box{
     width: 300px;
}

.page1 .category-box{
     width: 180px;
}


.page1 .discover-box{
    background-color:#d34c4d;
    text-align: center;
    width: 180px;
    color: #fff;
    
}



/* ------------------------------------------------ */
/* Section daily */
/* ------------------------------------------------ */


.section-daily-picture{
    padding-top: 70px;
    padding-bottom: 100px;

}
.box-section{
    padding-top: 20px;
    padding-left: 105px;
    
}
.box {
    margin: 20px 30px 10px 0;
    position: relative;
}
.box .credit{
    position: absolute;
    bottom: 2px;
    right: -20px;
    display: none;
}


.box img{
    width:100%;
    height: auto;
    border-radius: 5px;
    border: 4px solid #e08283;
}

.row{
    margin-right: 0px;
}
/* ------------------------------------------------ */
/* Section special */
/* ------------------------------------------------ */
.page1 .section-special-picture{
    padding: 70px 0 100px 0;
    background-image: linear-gradient(rgba(255, 255, 255, 0.71), rgba(255, 255, 255, 0.7)), asset-url('flowerzoom-min.jpg');
    background-attachment: fixed;  
}

.page1 .special-box {
    padding:0 40px;
    margin-top: 20px;
}
.page1 .special-box  a{
    padding:0;

}

.page1 .special-box img{
    width:100%;
    height: auto;
    border-radius: 5px;
    border: 4px solid #e08283; 
}

/* ------------------------------------------------ */
/* Stylist Profile */
/* ------------------------------------------------ */
.section-stylist{
    border-top: 10px solid  #fefefe;
    padding: 80px 0 100px 0;
    background-color: #f4f4f4;
}
.steps-box:first-child{
    text-align: right;
    padding-right:3%;
    margin-top: 35px;
}
.steps-box:last-child{
    padding-left: 3%;
    margin-top: 70px;
}

.steps-box img{
    width: 284px;
    height: auto;
}
.works-step {
    margin-bottom: 80px;
    color: #e08283;
}

.works-step .text{
    display: inline-block;
    margin-top: 15px;
    font-size: 115%;
}

.works-step .circle{
    color: #e08283;
    border:2px solid #e08283;
    border-radius: 50%;
    display: inline-block;
    height:55px;
    width:55px;
    text-align: center;
    padding: 10px 5px;
    font-size:150%;
    margin-right:25px;
    float: left;
}


/*---------------------------------------------*/

/* --------------------------------------------------------------*/
@media screen and (max-width: 1400px) {
    
    .page1 .jumbotron{
      height: 650px;
    } 
    
    .page1 .search-boxes{
        top: 75%;
        margin-left: 27%;
    }

    .page1 .location-box{
         width: 280px;
    }
    
    .page1 .category-box{
         width: 150px;
    }
    
    .page1 .discover-box{
        width: 150px;
    }

}

/* --------------------------------------------------------------*/

@media screen and (max-width: 1280px) {
    .page1 .search-boxes{
        margin-left: 25%;
    }
    .page1 .search-box{
        font-size: 120%;

    }
    .page1 .jumbo h1{
      font-size: 220%;
    }
    .page1 .location-box{
         width: 250px;
    }
    
    .page1 .category-box{
         width: 130px;
    }
    
    
    .page1 .discover-box{
        width: 130px;
    }
}

@media screen and (max-width: 1170px) {
    .page1 .search-boxes{
        top: 64%;
    }
    .page1 .jumbo h1{
      font-size: 210%;
    }
    .page1 .jumbo{
      top: 39%;
    }
}

@media screen and (max-width: 1125px) {
    .page1 .jumbotron{
      height: 550px;
    }
    .page1 .jumbo h1{
      font-size: 190%;
    }

    .page1 .search-box{
        width: 50%;
        margin-left: 25%;
        font-size:100%;
    }
}
@media screen and (max-width: 1000px) {
    .page1 .jumbotron{
      height: 500px;
      background-position: center center;
    }
    .page1 .jumbo h5{
      font-size: 110%;
    }
    .page1 .jumbo{
      top: 35%;
    }
    .page1 .jumbo h1{
      font-size: 170%;
    }

    .page1 .search-box{
        width: 40%;
        margin-left: 11%;
    }

    .box-section{
        padding-left: 40px;
    }
    .box {
        margin:0;
    }
    
    
    .page1 .special-box {
        padding:0 9px;
        margin-top: 20px;
    }
    
   .page1 h2{
    font-size: 150%;
    }
    
    .page1 h3{
        font-size: 110%;
    }


}

@media screen and (max-width: 767px) {
    
    .page1 .search-boxes{
        top: 60%;
    }
    .page1 .search-box{
        height: 40px;
    }

    .section-daily-picture{
        padding-top: 30px;
        padding-bottom: 50px;
    }
    
    .box {
        width: 40%;
        margin: auto;
        margin-top: 40px;
    }
    .box a{
        padding-left: 0;
    }
    .box-section{
        padding-left: 0;
    }
    .box .credit{
        right: -5px;
    }
    .page1 .section-special-picture{
        padding: 70px 0 50px 0;
    }
    
    .page1 .special-box {
        width: 40%;
        margin: auto;
        margin-top: 30px;
    }
    
    .section-stylist{
        padding: 50px 0 100px 0;
    }
    .steps-box:first-child{
        text-align: center;
        padding-right: 0%;
    }
    .steps-box:last-child{
        width: 360px;
        margin: 40px auto 0 auto;
    }
    .works-step {
        margin-bottom: 50px;
    }


}

@media screen and (max-width: 650px) {
    .page1 .jumbotron{
      height: 470px;
    }
    .page1 .jumbo h1{
      font-size: 150%;
    }
    .page1 .jumbo h5{
      font-size: 100%;
    }
    .page1 .search-box{
        width: 70%;
        margin-left: -3%;
        padding: 2px;
    }
    .page1 h2{
        font-size: 140%;
    }
    
    .page1 h2:after{
        margin: 25px auto 0px auto;
        
    }
    .page1 h3{
        font-size: 115%;
    }
    .section-daily-picture{
        padding-top: 20px;
        padding-bottom: 30px;
    }
    .box {
        width: 47%;

    }
    .box-section{
        padding-top: 5px;
    }
    .page1 .section-special-picture{
        padding: 30px 0 40px 0;
    }
    .page1 .special-box {
        width: 47%;
    }
    
}

@media screen and (max-width: 420px) {
    .page1 .jumbo h1{
      font-size: 120%;
    }
    .page1 .jumbo h5{
      font-size: 90%;
    }
    .page1 .jumbo .caption{
        width: 70%;
        margin: 12px auto 0 auto;
    }
    
    .page1 h3{
        margin-top: 12px;
    }
    .works-step .text{
        margin-top: 8px;
        font-size: 110%;
    }
    
    .works-step .circle{
        height:40px;
        width:40px;
        padding: 8px 5px;
        font-size:120%;
        margin-right:15px;
    }
    .steps-box:last-child{
        width: 320px;
        padding-right: 10px;
    }
    
}

@media screen and (max-width: 400px) {
    .page1 .jumbo h1{
      font-size: 110%;
    }
    
    
    .page1 .search-box{
        font-size: 90%;
        height: 35px;
        width: 80%;
        margin-left: -10%;
        padding: 0 2px;
    }
    
    .page1 h2{
        font-size: 120%;
    }

    .box {
        width: 60%;
    }
     .page1 .special-box {
        width: 60%;
    }
    .page1 h3{
        font-size: 110%;
    }
}

@media screen and (max-width: 350px) {
    .steps-box:last-child{
        margin-left: 20px;
    }
    .works-step .circle{
        padding: 5px 5px;
    }
}