/* ------------------------------------------------ */
/* BASE COLOR: #e08283 */
/* DARKBASE COLOR: #d34c4d */
/* ------------------------------------------------ */


.password-reset{
  padding-top:30px;
  border: 1px solid #e08283;
  box-shadow: 1px 2px 2px #e08283;
  width: 50%;
  margin: 70px auto 0 auto;
}
.password-reset form{
  text-align: center;
}

.password-reset .reset-submit{
  margin-top: 20px;
  margin-bottom: 30px;
}

@media screen and (max-width: 450px) {
  .password-reset{
    width: 70%;
    margin: 50px auto 0 auto;
  }
  .password-reset h2{
    font-size: 150%;
  }

}

@media screen and (max-width: 380px) {
  .password-reset{
    width: 80%;
  }
}