.profile-search .profile{
  position: absolute;
  top: 52px;
  left: 170px;
  right: 0;
  bottom: 0;
  padding-left: 10px;
}

.profile-search .sidebar .search-name{
  padding: 8px 0;
  text-align: center;
  margin: 10% 13% 0% 6%; 
}

.profile-search .sidebar .search-name p{
  font-size: 130%;
}


.profile-search .sidebar .search-name .input_box{
  width: 110%;
  height: 35px;
  border-radius: 3px;
  margin-bottom: 15px;
}

  
.profile-search .profile .user-box{
  position: relative;
  display: inline-block;
  width: 200px;
  height: 270px;
  margin: 20px 15px;
  padding: 10px;
}
.profile-search .profile .user-box .avatar{
  width: 180px;
  height: 180px;
  border-radius: 50%;
  overflow: hidden;
}

.profile-search .profile .user-box .avatar a{
  padding: 0;
}

.profile-search .profile .user-box .user-info{
  margin-top: 5px;
  padding: 5px 0;
  font-size: 95%;
  width: 180px;
  color: #888;
  text-align: center;
  background-color: #fbefef;
}

/*-------------------------------------------*/
@media screen and (max-width: 1024px) {
  .profile-search .profile{
    position: absolute;
    top: 52px;
    left: 40px;
    right: 0;
    bottom: 0;
    padding-left: 10px;
  }

}

@media screen and (max-width: 473px) {
  .profile-search .profile{
    left: 120px;
  }

}

@media screen and (max-width: 400px) {
  .profile-search .profile{
    left: 70px;
  }

}