/* ------------------------------------------------ */
/* BASE COLOR: #e08283 */
/* DARKBASE COLOR: #d34c4d */
/* ------------------------------------------------ */


.signup{
  padding-top:30px;
  border: 1px solid #e08283;
  box-shadow: 1px 2px 2px #e08283;
  width: 50%;
  margin: 70px auto 0 auto;
}

.signup h5{
  margin-bottom: 20px;
}

.signup .connect-remember{
  margin-bottom: 0px;
}

.signup #login{
  margin-top: 20px;
}

.submit-btn{
  margin: 0;
}

/*--------------------------*/

@media screen and (max-width: 1200px) {
  .signup{
    width: 60%;
  }
}

@media screen and (max-width: 767px) {
  .signup{
    padding: 30px 40px 0 40px;
  }
  .submit-btn{
    width:20%;
    margin: auto;
  }
  .signup h2{
    font-size: 150%;
  }
}

@media screen and (max-width: 630px) {
  .signup{
    width: 70%;
  }
}

@media screen and (max-width: 500px) {
  .signup{
    width: 84%;
  }
  
  .signup{
    padding: 30px 30px 0 30px;
    margin: 50px auto 0 auto;
  }
  .signup h2{
    font-size: 120%;
  }
}
