.stylist-detail{
    background-color: #f8f8f8;
    position: relative;
    margin-top: 40px;
    
}

/* ------------------------------------------------ */
/* STYLIST DETAIL LEFT */
/* ------------------------------------------------ */

.stylist-detail .stylist-portforlio{
    position: absolute;
    left:0;
    top: 0;
    width:70vw;
    background-color: #fffbfb;
    padding-top: 30px;  
}

.stylist-detail .basic-profile {
    height:160px;
    width: 80%;
    margin-left:10%;
    border-bottom: 2px solid #e2898a;
}

.stylist-detail .stylist-name {
    display: inline-block;
    margin: 15px 10px;
}
.stylist-detail .stylist-name h5{
    font-size: 200%;
    margin-bottom: 10px;
    text-align: left;
}
.stylist-detail .stylist-name p {
    padding:2px;
    text-align: left;
    color: #555;

}
.stylist-detail .basic-profile .image {
    display: inline-block;
    width: 120px;
    float: right;
    border-radius: 10px;
    
}

.stylist-detail .basic-profile img{
    width: 100%;
    border-radius: 10px;
    
}
.stylist-detail .picture-under-stylist{
    margin-top:20px;   
    width: 85%;
    margin-left: 7.5%;
}

.stylist-detail .picture-under-stylist a{
    padding: 0;
}

.stylist-detail .picture-under-stylist img{
    margin: 5px;
}
/* ------------------------------------------------ */
/* STYLIST DETAIL RIGHT */
/* ------------------------------------------------ */

.stylist-features{
    position: absolute;
    left: 70vw;
    top: 0;
    right: 5px;
    background-color: #fdfdfd;
    box-shadow: 0 2px 2px #b48182;
}

.stylist-features h3{
    padding-top:12px;
    font-size: 150%;
}

.booking,
.stylist-menu{
    height:150px;
    padding-top:30px;
    padding-left: 15%;
    color: #d34c4d;
    border-top: 2px solid #e08283;
}


.ion-ios-calendar-outline,
.ion-ios-paper-outline{
    display: inline-block;
    float: left;
    padding-right:10px;
    margin-top: 0;
    font-size: 250%;
    padding-top: 20px
}

/*-------------------------------------------*/

@media screen and (max-width: 1050px) {
    .stylist-features h3{
        font-size: 120%;
        text-align: left;
        margin-left: 50px;
        padding-top: 14px;
    }
    
    .booking,
    .stylist-menu{
        height:120px;
        padding-top: 20px;
        padding-left: 12%;
    }
    
    
    .ion-ios-calendar-outline,
    .ion-ios-paper-outline{
        padding-right: 20px 5px 0 0;
        font-size: 230%;
    }
}

@media screen and (max-width: 890px) {
    .stylist-features h3{
        font-size: 110%;
        padding-top: 14px;
    }
    .booking,
    .stylist-menu{
        height: 110px;
        padding-top: 12px;
    }
    .stylist-detail .basic-profile {
        width: 90%;
        margin-left: 5%;
    }
}

@media screen and (max-width: 690px) {
    .stylist-features h3{
        font-size: 100%;
        margin-left: 40px;
        padding-top: 12px;
    }
    
    .booking h3{
        padding-top: 8px;
    }
    .booking,
    .stylist-menu{
        padding-top: 8px;
    }
    .stylist-detail .basic-profile {
        width: 90%;
        margin-left: 5%;
        height: 280px;
    }
    .stylist-detail .basic-profile .image {
        display: block;
        float: left;
    }

}

@media screen and (max-width: 470px) {
    .stylist-features h3{
        font-size: 90%;
        margin-left: 30px;
        text-transform: capitalize;
    }
    
    .stylist-detail .basic-profile {
        width: 95%;
        margin-left: 2.5%;
        height: 300px;
    }
    .ion-ios-calendar-outline,
    .ion-ios-paper-outline{
        font-size: 200%;
        padding-top: 20px;
        padding-right: 2px;
    }

}