.uploadimage{
    padding-top: 100px;

}

/*-----left side -------*/
.uploadimage .uploadbox{
  margin-top: 50px;
}
.uploadimage .uploadplaceholder{
  width:255px;
  border: 2px solid #e08283;
  margin-bottom: 20px;

}

/*-----right side -------*/
.uploadimage .field-box{
  width: 250px;
  padding-left: 50px;
  padding-top: 25px;
  border: 2px solid #e08283 ;
}



.uploadimage .remove-stylist{
  display: inline-block;
}


.uploadimage .add-service{
  margin: 20px 0;
}