.viewprofile{
  width: 64%;
  margin-left: 18%;
  padding-top: 100px;
}
.viewprofile .pic-showing{
  margin-top: 50px;
}

.viewprofile .image-display,
.viewprofile .image-display-general{
  display: inline-block;
  position: relative;
  margin: 10px 2px;
}

.viewprofile .image-function{
  display: none;
}


.viewprofile .image-delete,
.viewprofile .image-delete-general{
  position: absolute;
  top: 5px;
  right: -10px;
}

.viewprofile .image-delete-general{
  display: none;
}

.viewprofile .image-edit{
  position: absolute;
  top: 5px;
  right: 12px;
}

.viewprofile .image-loved{
  position: absolute;
  bottom: -5px;
  left: 10px;
  background-color: #fff;
  padding: 0 10px;
}

.viewprofile .image-loved i{
  font-size: 150%;
  font-weight: 100;
  text-shadow: 1px 0px 3px #e08283;
  color: #e08283;

}