.viewprofile{
  width: 64%;
  margin: auto;
  padding-top: 80px;
}
.viewprofile .pic-showing{
  margin-top: 50px;
}

.viewprofile .image-display,
.viewprofile .image-display-general{
  display: inline-block;
  position: relative;
  margin: 10px 2px;
}

.viewprofile .image-function{
  display: none;
}


.viewprofile .image-delete,
.viewprofile .image-delete-general{
  position: absolute;
  top: 5px;
  right: -10px;
}

.viewprofile .image-delete-general{
  display: none;
}

.viewprofile .image-edit{
  position: absolute;
  top: 5px;
  right: 12px;
}

.viewprofile .image-loved{
  position: absolute;
  bottom: -5px;
  left: 10px;
  background-color: #fff;
  padding: 0 10px;
}

.viewprofile .image-loved i{
  font-size: 150%;
  font-weight: 100;
  text-shadow: 1px 0px 3px #e08283;
  color: #e08283;

}

.viewprofile .profile-emp{
  border: 2px dotted #cdcdcd;
  padding: 30px 0 50px 0;
}

.viewprofile p{
  text-align: center;
  color: #888;
  font-size: 120%;
}
.viewprofile .profile-emp a{
  color: #888;
  padding: 0;
  border-bottom: 1px dotted #888;
}

/*---------------------------------------*/
@media screen and (max-width: 1345px) {
  .viewprofile{
    width: 70%;
  }
}

@media screen and (max-width: 1230px) {
  .viewprofile{
    width: 75%;
  }
}

@media screen and (max-width: 1155px) {
  .viewprofile{
    width: 83%;
  }
}

@media screen and (max-width: 1040px) {
  .viewprofile{
    width: 86%;
  }
}

@media screen and (max-width: 1000px) {
  .viewprofile{
    width: 60%;
  }
}

@media screen and (max-width: 975px) {
  .viewprofile{
    width: 70%;
  }
}

@media screen and (max-width: 820px) {
  .viewprofile{
    width: 36%;
  }
}

@media screen and (max-width: 720px) {
  .viewprofile{
    width: 50%;
    padding-top: 70px;
  }
}

@media screen and (max-width: 480px) {
  .viewprofile{
    width: 67%;
  }
}

@media screen and (max-width: 380px) {
  .viewprofile{
    width: 85%;
  }
}