/* ------------------------------------------------ */
/* BASE COLOR: #e08283 */
/* DARKBASE COLOR: #d34c4d */
/* ------------------------------------------------ */

.wishlist-section{
  width: 64%;
  margin: auto;
  padding-top: 100px;
}

.wishlist-section .wishlist{
  padding: 5px;
}

.wishlist-section .wishlist-image{
  display: inline-block;
  position: relative;
  margin: 10px 8px;
}

.wishlist-section .wishlist-delete{
  display: none;
  position: absolute;
  top: 5px;
  right: -10px;
}

.wishlist-section .wishlist-emp{
  border: 2px dotted #cdcdcd;
  padding: 30px 0 50px 0;
}
.wishlist-section p{
  text-align: center;
  color: #888;
  font-size: 120%;
}
.wishlist-section a{
  color: #888;
  padding: 0;
  border-bottom: 1px dotted #888;
}

/*---------------------------------------*/
@media screen and (max-width: 1345px) {
  .wishlist-section{
    width: 70%;
  }
}

@media screen and (max-width: 1230px) {
  .wishlist-section{
    width: 75%;
  }
}

@media screen and (max-width: 1155px) {
  .wishlist-section{
    width: 83%;
  }
}

@media screen and (max-width: 1040px) {
  .wishlist-section{
    width: 86%;
  }
}

@media screen and (max-width: 1000px) {
  .wishlist-section{
    width: 60%;
  }
}

@media screen and (max-width: 975px) {
  .wishlist-section{
    width: 70%;
  }
}

@media screen and (max-width: 820px) {
  .wishlist-section{
    width: 36%;
  }
}

@media screen and (max-width: 720px) {
  .wishlist-section{
    width: 50%;
    padding-top: 70px;
  }
}

@media screen and (max-width: 480px) {
  .wishlist-section{
    width: 67%;
  }
}

@media screen and (max-width: 380px) {
  .wishlist-section{
    width: 85%;
  }
}