<%= form_tag images_path, :method => :get do %>
  <p> Location<br>
    <%= text_field_tag :search, params[:search] %>
    <% submit_tag "Search", :name => nil %>
  </p>
<% end %>


<% @images.each do |image| %> 
  <%= image_tag image.picture.url %>
<% end %>





