<%= form_tag images_path, :method => :get do %>
  <p> Location<br>
    <%= text_field_tag :search, params[:search] %>
    <% submit_tag "Search", :name => nil %>
    
  </p>
<% end %>



<% @images.each do |image| %> 
  <% if params[:search].present? %>
   <% image.each do |indvimage| %>
      <%= image_tag indvimage.picture.url %>
      <%#=link_to "Delete picture", image_path(indvimage), method: :delete %>
    <% end %>
    
  <% else %>
      <%= image_tag image.picture.url %>
      <%#=link_to "Delete picture", image_path(image), method: :delete %>
  <% end %>
<% end %>

