<div class="footer">
  <div class="row">
     <div class="footer-nav">
       <ul>
         <li><a href="#">About Us</a></li>
        <li><a href="#">Contact Us</a></li>
       </ul>
    </div>
  </div>
  <div class="row">
    <p>Crownshot &copy; 2016 by Crownshot. All rights reserved</p>
  </div>
</div>