<div class="footer">
  <div class="row">
     <div class="footer-nav">
       <ul>
         <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'About us', aboutus_path%></li>
       </ul>
    </div>
  </div>
  <div class="row">
    <p class="term_agr"><%= link_to 'Crownshot', term_path %> &copy; 2016 by Crownshot. All rights reserved</p>
  </div>
</div>